body,
html {
  overflow: hidden;
}

@font-face {
  font-family: "mamemoji";
  src: local("mamemoji"), url(mamemoji.ttf) format("truetype");
}

.season-display {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loading {
  color: rgb(255, 221, 227);
}

img {
  height: 100%;
  image-rendering: pixelated;
  width: 100%;
}

h1 {
  color: whitesmoke;
  mix-blend-mode: color-dodge;
  font-family: mamemoji, serif;
  font-size: 9vmin;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  text-align: center;

  /* TYPING ANIMATION */
  overflow: hidden;
  /* border-right: 0.4em solid white; */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(40, end);
}

.blink-ellipsis {
  animation: blink-caret 1s step-end infinite;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

/* THE TYPING EFFECT*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* THE BLINKING ELLIPSIS EFFECT */
@keyframes blink-caret {
  0% {
    color: transparent;
  }
  50% {
    color: rgb(255, 234, 237);
  }
}

@media screen and (orientation: portrait) {
  h1 {
    white-space: normal;
    animation: none;
  }

  img {
    height: auto;
  }
}
